<div class="row">
  <div class="col-12 back-button">
    <button class="btn btn-primary" (click)="backClicked()">
      <i class="fa fa-angle-left"></i>
      Back
    </button>
  </div>
</div>

<div class="row" *ngIf="productItem !== undefined">
  <div class="col-12 col-md-6">
    <img class="product-image w-100" src="{{productItem.imagelink}}" />
  </div>
  <div class="col-12 col-md-6 text-center product-information">
    <div>
      <h1>{{productItem.name}}</h1>
      <h3>Rating: {{productItem.rating}} / 5</h3>
      <h3>Stock: {{productItem.stock}}</h3>
      <h3>Price: ${{productItem.price}}</h3>
    </div>

    <div>
      <h5><em>{{productItem.description}}</em></h5>
    </div>

    <div>
      <p> In Basket: {{amountInBasket}} </p>
      <div class="form-group">
        <label class="form-check-label" for="AddAmountTextfield">Quantity to Add: </label>
        <input type="number" class="form-control" id="AddAmountTextfield" [(ngModel)]="amountToAdd">
        <button class="btn btn-primary w-100" (click)="addProduct()"> Add </button>
      </div>
    </div>
  </div>
</div>
