<!-- rubric72: handled with class -->
<footer class="footer">
  <div class="container">
    <div class="row">

      <!-- Copyright info -->
      <div class="col-6">
        <p>
          &copy; Groceries Online 2018
        </p>
      </div>

      <!-- Links to home, mail, contact and about -->
      <div class="col-6">
        <p class="text-right padding-anchor achor-color align-middle">
          <!-- rubric75 -->
          <!-- rubric78: handled with <a> -->
          <a href="contact">Contact</a>
          <!-- rubric74 -->
          <!-- rubric77: handled with <a> -->
          <a href="about">About</a>
          <a href="mailto:info@groceries-online.com"><i class="fa fa-envelope "></i></a>
          <!-- rubric73 -->
          <!-- rubric76: handled with <a> -->
          <a href="home"><i class="fa fa-home "></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>
