<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p>
          &copy; Groceries Online 2018
        </p>
      </div>
      <div class="col-6">
        <a class="float-right padding-left-anchor achor-color" href="home"><i class="fa fa-home "></i></a>
        <a class="float-right padding-left-anchor achor-color" href="mailto:info@groceries-online.com"><i class="fa fa-envelope "></i></a>
        <a class="float-right padding-left-anchor achor-color" href="contact">Contact</a>
        <a class="float-right padding-left-anchor achor-color" href="about">About</a>
      </div>
    </div>
  </div>
</footer>
