<div class="card card-margin">
  <div class="pointer-on-hover" (click)="navigateToProduct()">
    <img class="card-img-height card-img-center" src="{{product.imagelink}}" alt="{{product.name}}">
  </div>
  <div class="card-body">
    <a class="text-cutoff" href="/product?productname={{this.product.name}}">{{product.name}}</a>
    <p class="text-cutoff">$ {{product.price | number: '1.2-2'}}</p>
    <p class="text-cutoff">Rating: {{product.rating}}</p>
    <button class="btn btn-primary w-100" (click)="addProduct()">Add</button>
  </div>
</div>
