<div class="row text-center">

  <!-- Image -->
  <div class="col-12 margin-bottom-small">
    <img alt="{{person.name}}" src="{{person.imageLink}}" class="person-image" />
  </div>

  <!-- Name -->
  <div class="col-12 margin-bottom-extra-small">
    <h6 class="margin-bottom-extra-small">{{person.name}}</h6>
  </div>

  <!-- Subtitle -->
  <div class="col-12 margin-bottom-small">
    <small class="">{{person.subTitle}}</small>
  </div>

  <!-- Description -->
  <div class="col-12">
    <p>{{person.description}}</p>
  </div>

</div>
